<div class="c-section c-section--masthead">
	<div class="o-wrapper">
		<div class="c-logo">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 209.490829"><path d="M305.22 157.628c13.88-20.792 21.646-39.675 20.816-56.627-.316-6.446-3.757-12.722-10.448-12.4-18.584.89-30.343 28.233-29.038 54.855.34 6.933 1.21 12.483 3.247 19.574-4.924 6.662-11.11 12.463-17.026 12.463-4.98 0-11.808-4.992-14.56-16.81 14.597-20.404 22.31-39.62 21.395-56.263-.355-6.466-3.765-12.777-10.31-12.497-17.11.732-28.135 25.01-28.142 50.13 0 8.587.796 15.885 2.16 22.043-7.097 7.646-13.293 11.57-15.87 11.366-3.837-.306-1.606-13.14-1.232-17.623.525-6.292-1.883-9.472-6.134-9.812-9.716-.774-13.248 23.87-23.896 23.02-1.4-.11-2.184-1.405-2.184-3.58 0-8.16 14.68-31.06 33.97-25.03-.866-7.54-4.944-10.728-13.912-11.182-15.413-.77-37.284 14.747-37.284 38.848 0 9.458 5.135 15.58 12.928 16.2 6.124.49 14.17-3.86 20.813-12.682 1.093 6.912 4.06 13.137 11.142 13.702 7.604.605 15.768-3.93 24.75-13.17 5.617 13.706 14.707 18.877 22.005 18.877 10.27 0 18.385-7.55 24.987-18.06 6.493 14.992 17.088 26.21 29.765 25.6 9.178-.442 18.47-5.837 22.887-15.097-18.202 3.51-35.057-6.823-40.826-25.845zm-40.28-53.017c3.568.817.51 23.785-8.34 40.476-1.592-24.89 4.593-41.33 8.34-40.475zm37.617 39.805c-1.448-24.82 4.646-41.963 8.47-41.135 3.643.792.697 24.428-8.47 41.135z"/><path d="M190.26 109.31c.894-12.974-4.37-20.365-12.9-20.365-20.89 0-29.37 30.13-31.82 55.98-6.628 1.404-13.82 2.415-20.722 3.382 2.223-19.406 5.747-53.034-8.404-53.04-3.407 0-9.283 1.722-13.145 8.932 7.137 7.336 5.174 22.355 2.788 47.177-7.643 1.704-13.044 4-13.848 7.842-1.284 6.138 3.28 10.715 12 12.293-2.75 34.244.016 43.266 21.625 32.74-2.636-8.843-3.22-26.863-2.394-41.402 7.078-1.308 14.557-3.032 21.29-4.82-.802 24.164 2.232 49.03 18.795 49.03 3.527 0 7.5-.86 12.195-3.696-9.08-12.507-12.16-32.495-12.462-51.464 17.737-10.478 26.09-29.337 27.003-42.59zm-15.906-5.287c4.58.866 1.61 22.774-10.516 34.586 1.24-20.112 6.474-35.35 10.516-34.587zM370.484 54.605c1.827-12.938 6.167-25.725-5.586-28.803-7.816-2.046-13.963 1.172-22.722 8.688-.953-7.537-4.643-14.477-19.884-7.47 2.836 5.467 2.994 11.154 1.916 19.43-1.613 10.128-13.65 25.77-26.68 25.193-6.288-.278-7.75-4.807-8.975-9.35 13.907.677 27.427-8.26 26.793-21.286-.394-8.072-8.48-12.33-18.27-11.9-13.558.594-24.83 10.88-27.257 24.097-2.436 11.257-10.282 20.35-14.65 18.29-2.557-1.204.986-9.842 6.423-18.88 5.357-8.91 3.245-13.143-.547-14.074-2.885-.718-12.758-1.958-16.725-3.324 2.202-7.612-.018-13.973-7.887-14.543-6.248-.453-10.625 4.12-11.422 11.214-.488 4.347.84 8.573 6.33 13.645l.487.34c-6.013 16.76-15.863 28.75-20.235 25.623-2.3-1.645.985-9.843 6.422-18.882 5.357-8.91 3.245-13.142-.547-14.073-2.887-.718-12.76-1.958-16.725-3.324 2.2-7.612.805-15.155-7.722-16.105-6.224-.697-10.625 4.122-11.422 11.215-.49 4.35.673 10.135 6.163 15.207l.368.255c-4.36 14.99-11.146 26.92-14.432 26.69-3.95-.274-1.37-13.11-1.405-17.61-.035-4.5-2.012-9.456-6.39-9.76-10.015-.694-8.98 23.694-19.954 22.933-1.442-.1-2.26-1.388-2.278-3.563-.064-8.16 10.395-30.896 30.313-25.024-.953-7.532-5.177-10.687-14.418-11.068-15.88-.645-35.312 14.77-35.124 38.868.015 1.86.26 3.586.694 5.168-3.833-.937-7.637-1.65-11.39-2.16 2.554-7.763 3.987-15.807 3.987-23.742C117.73 16.134 96.5 1.09 61.476 1.09 28.432 1.09 2 17.203 2 37.414 2 49.85 16.91 55.693 29.683 47.69 23.54 41.727 25.07 13.045 61.27 13.045c16.223 0 35.278 8.442 35.278 35.392 0 7.135-1.013 14.24-2.782 20.99-10.718.576-20.64 2.79-29.198 6.192-.87-9.802 1.02-24.62 2.33-35.927.8-6.917 2.437-21.76-13.294-16.46-.348 10.49-9.717 34.923-8.627 54.934.142 2.613.945 5.14 2.787 6.974-8.732 6.958-13.897 15.58-13.897 24.574 0 11.676 10.378 15.167 19.02 15.167 22.967 0 46.133-20.553 57.548-46.09 21.925.125 20.682 4.573 29.057 4.573 5.782 0 13.262-5.612 16.753-12.587 1.178 6.902 4.28 13.102 11.583 13.61 9.212.638 18.544-7.698 28.004-33.94 2.844.725 7.424 1.41 9.24 2.048-11.48 13.275-10.284 29.74-.126 31.935 7.11 1.536 21.315-2.92 34.027-34.1 2.787.768 7.766 1.494 9.678 2.164-11.242 13.85-10.29 29.776-.125 31.935 7.62 1.618 15.582-2.674 22.515-15.657 4.495 12.416 16.736 15.514 23.63 15.514 10.177 0 22.573-8.93 26.686-15.082-.446 9.256 1.45 20.877 17.03 12.89-1.423-5.364.454-16.188 2.108-26.328 2.264-11.77 8.63-16.824 12.434-16.4 5.815.652-.852 17.507-.852 31.715 0 10.807 3.74 19.458 16.26 19.458 7.387 0 12.24-5.876 13.664-9.536-15.274-1.233-13.436-9.707-11.516-26.4zM56.77 113.492c-1.944 0-4.495-.817-4.495-4.276 0-9.02 14.92-22.744 37.558-28.136-7.778 18.675-21.062 32.412-33.063 32.412zm242.905-75.056c4.493 2.667-.316 13.742-11.46 14.59 1.567-10.694 6.842-17.33 11.46-14.59z"/></svg>
		</div>
	</div>
</div>
<div class="c-section">
	<div class="o-wrapper">
		<h1 class="u-visually-hidden">Darren Hall</h1>
		<h2>I&rsquo;m a freelance frontend developer based in Manchester.</h2>
		<p>With over 12 years of commercial experience I develop responsive, performant and accessible websites using HTML, CSS and JavaScript.</p>
		<p>I work extensively with Gulp and Grunt to automate and optimise build processes.</p>
		<h3>Skills</h3>
		<div class="o-grid">
			<div class="o-grid__item o-grid__item--1/1 o-grid__item--1/2@md">
				<ul>
					<li>CSS, Sass and LESS</li>
					<li>HTML and PHP</li>
					<li>JS, Node and jQuery</li>
				</ul>
			</div>
			<div class="o-grid__item o-grid__item--1/1 o-grid__item--1/2@md">
				<ul>
					<li>Node, Gulp and Grunt</li>
					<li>Angular and Express</li>
					<li>Git, Mercurial and Subversion</li>
				</ul>
			</div>
		</div>
		<h3>Experienced with WordPress and Craft CMS</h3>
		<p>I have previously worked with extensively with WordPress, and more recently with Craft CMS. My previous work as an Object-Oriented PHP developer with CakePHP, CodeIgniter and Symfony allows me to get the most out of these systems.</p>
		<h3>Sitecore and Umbraco&nbsp;friendly</h3>
		<p>Many of the projects I have worked on in the last few years used a .NET CMS, and I am skilled at working with both Sitecore and Umbraco. I am adept at integrating Razor templates and have a working knowledge of editing controllers and tests.</p>
		<h2>Currently available from January</h2>
		<p>If you&rsquo;re interested in working with me then I&rsquo;d love to hear from you! I&rsquo;m currently available from the middle of January 2017.</p>
		<p><a href="mailto:darren@darrenhall.info" class="c-button">Get in touch</a></p>
	</div>
</div>
<div class="c-section c-section--masthead">
	<div class="o-wrapper">
		<div class="o-grid">
			<div class="o-grid__item">
				<p>&copy; 2016 Darren Hall | <a href="https://github.com/iamdarrenhall/darrenhall.co">View source code on GitHub</a> | <a href="https://twitter.com/frontendbeast">Follow me on Twitter</a></p>
			</div>
		</div>
	</div>
</div>
